@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
    
   
}
body{
    background-color: #e3ccb3;
}
.header{
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
	z-index: 2;
}

.top-left-logo {
    position: absolute;
    top: 20px; /* Adjust the top distance as needed */
    left: 20px; /* Adjust the left distance as needed */
}
#logo{
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
	cursor: pointer;
	font-size: 45px;
	font-weight: bold;
	color: #9c5d16; /* brown */
}
#logo:hover{
    color: #eef9ff; /* white */
}
#logo-s{
	color: #eef9ff; /* white */
	margin-left: 5px;
}
#logo:hover #logo-s{
	color: #9b682e; /* brown */
}
.sign{
	float: right;
	line-height: 60px;
	margin-right: 40px;
}
.sign a{
	color: rgb(152, 34, 34);
	font-weight: bold;
	text-decoration: none;
}
.act{
	border: 2px solid rgb(0, 0, 0);
	border-radius: 50px;
	padding: 6px 15px;
}
.sign a:hover{
	color: #000000; /* blue */
	border-color: #000000; /* blue */
}
.banner {
    position: relative;
    width: 100%;
    height: 30vh; /* Adjust the height as desired */
    
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as desired */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner-text {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}









.contact-wrap {
    
    display: grid;
	width: 80%;
	/*height: 100vh;*/
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-in {
	padding: 40px 30px;
}

.contact-in:nth-child(1) {
	flex: 30%;
	background: url(images/background.jpeg);
	color: #fff;
}

.contact-in:nth-child(2) {
	flex: 45%;
	background: #6e464d;
}

.contact-in:nth-child(3) {
	flex: 25%;
	padding: 0;
}

.contact-in h1 {
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

.contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

.contact-in p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}

.contact-in ul {
	padding: 0;
	margin: 0;
}

.contact-in ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.contact-in ul li a {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #fff;
	border-radius: 50px;
}

.contact-in ul li a i {
	font-size: 14px;
	line-height: 30px;
	color: #000;
}

.contact-in form {
	width: 100%;
	height: auto;
}

.contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
	color: #fff;
}

.contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
	color: #fff;
}

.contact-in-btn {
	width: 100%;
	height: 40px;
	border: 1px solid #fff;
	outline: none;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.contact-in iframe {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width:480px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

h3{
    text-align: center;
    color: rgb(175, 84, 84);
    font-size: 38px;
    font-weight: bold;
    margin-top: 20px;
}
h4{
    text-align: center;
    color: rgb(69, 61, 61);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
	max-width: 900px; /* Adjust the value to the specific width you want */
  	margin: 0 auto;
}

.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px; /* Adjust the height of the container as desired */
}

.line {
    width: 450px; /* Adjust the width as desired */
    height: 1px;
    background-color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}
.line1 {
    width: 350px; /* Adjust the width as desired */
    height: 1px;
    background-color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}
.line2 {
    width: 250px; /* Adjust the width as desired */
    height: 1px;
    background-color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}
